@font-face {
  font-family: "Rajdhani-Light";
  font-weight: 300;
  src: url('../fonts/Rajdhani-Light.woff') format('woff'), url('../fonts/Rajdhani-Light.woff2') format('woff2');
}
@font-face {
  font-family: "Rajdhani-Regular";
  font-weight: 400;
  src: url('../fonts/Rajdhani-Regular.woff') format('woff'), url('../fonts/Rajdhani-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Rajdhani-Medium";
  font-weight: 500;
  src: url('../fonts/Rajdhani-Medium.woff') format('woff'), url('../fonts/Rajdhani-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Rajdhani-SemiBold";
  font-weight: 600;
  src: url('../fonts/Rajdhani-SemiBold.woff') format('woff'), url('../fonts/Rajdhani-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: "Rajdhani-Bold";
  font-weight: 700;
  src: url('../fonts/Rajdhani-Bold.woff') format('woff'), url('../fonts/Rajdhani-Bold.woff2') format('woff2');
}