.open-cart {
  position: absolute;
  min-width: 430px;
  z-index: 9998;
  top: -0.7em;
  left: -300px;
  border: 2px solid #000;
  border-top: none;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #000;
    padding: 20px;
    padding-right: 0;

    &-text {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 150px;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
    max-height: 118px;

    &-img {
      width: 67px;
    }

    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 355px;
      padding: 10px 15px;
    }
  }

  &__detail {
    &-top {
      display: flex;
      justify-content: space-between;
    }

    &-name {
      color: #292929;
      font-size: 20px;
      font-family: "Rajdhani-SemiBold";
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  &__delete-btn {
    height: 25px;
    width: 30px;
    background-color: #fff;
    border: 2px solid #000;
  }

  &__item-quntity {
    span {
      background-color: #d1d1d1;
      padding: 0 5px;
    }
  }

  &__item-price {
    font-size: 18px;
  }

  &__quntity-minus, &__quntity-plus {
    height: 25px;
    width: 30px;
    background-color: #fff;
    border: 2px solid #000;
    line-height: 0.5;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #dcdcdc;
    min-height: 50px;
    
    &-text {
      color: #292929;
      text-transform: uppercase;
      font-family: "Rajdhani-SemiBold";
    }
  }

  &__button-group {
    display: flex;
    min-height: 70px;
  }

  &__continue, &__checkout {
    border: none;
    background-color: #000;
    padding: 0;
    font-family: "Rajdhani-Bold";
    font-size: 28px;
  }

  &__continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    background-color: #fff;

    span {
      color: #b3b3b3;
      text-transform: uppercase;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__checkout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 23px;
    width: 210px;
    position: relative;

    span {
      color: #fff;
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      content: url('../../images/chevron-r.png');
      right: 25px;
      top: 22px;
    }
  }
}

.cart-modal-btn {
  transform: scale(1.18) translate(0px, 0px);
}

.check-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: -20px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #000;

  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.check-container input:checked ~ .checkmark {
  background-color: #000;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .open-cart {
    left: -390px;
  }
}

@media (max-width: 320px) {
  .open-cart {
    left: -245px;
    min-width: 290px;

    &__title, &__body, &__total, &__button-group {
      max-width: 290px;
    }

    &__item-detail {
      min-width: 220px;
    }

    &__body {
      padding-bottom: 50px;
    }
  }
}
