.category {
  padding: 50px 15px 0;

  &__divide-img {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: minmax(290px, auto);
  grid-template-rows: 215px 215px 165px 311px 293px 174px;
  justify-content: center;
  gap: 10px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 100%;
      object-fit: contain;
    }

    &:hover {
      cursor: pointer;
       img {
         filter: opacity(0.8);
       }
    }
  }

  &__category {
    position: absolute;

    &-text {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      text-shadow: 1px 3px #000;
    }
  }
}

@media (min-width: 768px) {
  .category {
    padding-top: 20px;

    &__divide-img {
      margin-bottom: 30px;
    }
  }

  .category-grid {
    grid-template-columns: repeat(2, 357px);
    grid-template-rows: repeat(3, 264px);
    justify-content: unset;
  }

  .jaquetas {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 357px;
  }

  .shorts {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 357px;
  }

  .corta-vento {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 464px;
  }

  .camisas {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 250px;
    justify-self: flex-end;
  }

  .calcas {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 265px;
  }

  .camisetas {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 445px;
    justify-self: flex-end;
  }
}
