.conteiner {
  padding: 11px 9px 15px 13px;
}

.header-wrapper {
  .header {
    background-color: #000;
    max-height: 50px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 25px;
    }

    &__title {
      color: #fff;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__cart {
      position: relative;

      &::before {
        content: attr(data-in-cart);
        position: absolute;
        top: 1px;
        left: -6px;
        height: 19px;
        width: 19px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 50%;
        z-index: 99;
        text-align: center;
      }
    }

    .menu {
      &__btn {
        height: 19px;
        width: 27px;
        position: relative;
        background-color: #000;
        border: none;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #fff;
          z-index: 99;
          box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
        }
      }
    }
  }

  .header-sliders-wrapper {
    min-height: 215px;
  }

  .sale-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    background-color: #c5c5c5;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;

    &__name {
      font-weight: 700;
    }
  }

  .main-slider {
    position: relative;

    &__bg-image {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 195px;
      padding: 10px 13px;
      background-image: url('/images/header-bg.png');
      background-size: cover;
      background-position: center center;
    }

    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-width: 130px;
      text-transform: uppercase;
      margin-top: -21px;
      min-height: 66px;
    }

    &__title {
      font-size: 12px;
      font-weight: 300;
      position: relative;
      margin-top: 3px;

      span {
        font-weight: 700;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -21px;
        // height: 1px;
        width: 130px;
        border: 1px solid #848482;
      }
    }

    &__subtitle {
      margin-top: 5px;
      font-size: 10px;
      letter-spacing: 1.3px;
    }

    &__btn {
      height: 23px;
      width: 76px;
      border: 1px solid #393939;
      padding: 5px 7px;
      font-size: 12px;
      letter-spacing: 1.3px;
      color: #000;

      &:hover {
        background-color: #221f1f;
        color: #fff;
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 10px;
      left: 0;
      transform: translateX(140%);
      display: flex;

      button {
        font-size: 0;
        // border: none;
        padding: 0;
        height: 14px;
        width: 14px;
        border: 1px solid #a6a5a5;
        border-radius: 50%;
        margin-left: 3px;
      }

      .slick-active {
        button {
          background-color: #221f1f;
        }
      }
    }
  }

}
