body {
  font-family: 'Rajdhani-Medium', 'sans-serif';
}

.header-wrapper {
  .header {
    background-color: #000;
    max-height: 50px;
    padding: 11px 9px 15px 13px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 25px;
    }

    &__title {
      color: #fff;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__cart {
      position: relative;
      display: flex;
      align-items: center;

      &-login {
        display: none;
        color: #fff;

        &:hover {
          cursor: pointer;
        }
      }

      &-btn {
        position: relative;
        border: none;
        background-color: #000;

        &::before {
          content: attr(data-in-cart);
          position: absolute;
          top: -1px;
          left: 3px;
          height: 19px;
          width: 19px;
          background-color: #fff;
          color: #000;
          border: none;
          border-radius: 50%;
          z-index: 99;
          text-align: center;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .menu {
      position: relative;

      &__btn {
        height: 19px;
        width: 27px;
        position: relative;
        background-color: #000;
        border: none;
        outline: none;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #fff;
          z-index: 99;
          box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-sliders-wrapper {
    min-height: 215px;
  }

  .sale-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    background-color: #c5c5c5;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;

    &__name {
      font-weight: 700;
    }
  }

  .main-slider {
    position: relative;

    &__bg-image {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 195px;
      padding: 10px 13px;
      background-image: url('/images/header-bg.png');
      background-size: cover;
      background-position: center center;
    }

    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-width: 130px;
      text-transform: uppercase;
      margin-top: -21px;
      min-height: 66px;
    }

    &__title {
      font-size: 12px;
      font-weight: 300;
      position: relative;
      margin-top: 3px;

      span {
        font-weight: 700;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -21px;
        // height: 1px;
        width: 130px;
        border: 1px solid #848482;
      }
    }

    &__subtitle {
      margin-top: 5px;
      font-size: 10px;
      letter-spacing: 1.3px;
    }

    &__btn {
      height: 25px;
      width: 78px;
      border: 1px solid #393939;
      padding: 5px 7px;
      font-size: 12px;
      letter-spacing: 1.3px;
      color: #000;

      &:hover {
        background-color: #221f1f;
        color: #fff;
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 10px;
      left: 0;
      transform: translateX(140%);
      display: flex;

      button {
        font-size: 0;
        // border: none;
        padding: 0;
        height: 14px;
        width: 14px;
        border: 1px solid #a6a5a5;
        border-radius: 50%;
        margin-left: 3px;
      }

      .slick-active {
        button {
          background-color: #221f1f;
        }
      }
    }
  }

}

@media (min-width: 768px) {
  .header-wrapper {
    display: grid;
    grid-template-columns: minmax(768px, 1024px);
    grid-template-rows: 460px 50px;
  }

  .header-sliders-wrapper {
    grid-row: 1/2;
  }

  .header {
    grid-row: 2/3;
  }

  .main-slider {
    &__bg-image {
      background-image: url('/images/tablet/header-bg-t.png') !important;
      padding: 20px 50px !important;
      min-height: 440px !important;
    }

    &__group {
      min-width: 210px !important;
    }

    &__title {
      font-size: 18px !important;

      &::after {
        width: 170px !important;
      }
    }

    &__subtitle {
      margin-top: 10px !important;
      font-size: 13px !important;
    }

    &__btn {
      margin-top: 15px;
      border-width: 2px !important;
    }

    .slick-dots {
      bottom: 20px !important;
      left: 50% !important;
      transform: translateX(-40%) !important;
    }
  }
}

@media (min-width: 1200px) {
  .conteiner {
    min-width: 1233px;
  }
  .header-wrapper {
    grid-template-columns: minmax(1200px, 1980px);
    grid-template-rows: 725px 50px;
  }

  .header {
    display: flex;
    justify-content: center;

    &__cart {
      &-login {
        display: block !important;
        margin-right: 25px;
        text-transform: uppercase;
        font-size: 22px;
      }
    }
  }

  .main-slider {
    display: flex !important;
    justify-content: center;

    &__bg-image {
      background-image: url('/images/header-bg.png') !important;
      min-height: 705px !important;
      padding: 20px 337px !important;
    }

    &__group {
      min-width: 315px !important;
    }

    &__title {
      font-size: 28px !important;

      &::after {
        width: 250px !important;
      }
    }

    &__subtitle {
      margin-top: 15px !important;
      font-size: 18px !important;
    }

    &__btn {
      height: 35px !important;
      width: 114px !important;
      margin-top: 35px;
      text-align: center;
      padding: 10px 13px !important;
    }
  }

  .sale-slider {
    &__wrapper {
      max-width: 1233px;
      height: 20px;
    }

    .slick-dots {
      display: flex;
      align-items: center;

      button {
        font-size: 0;
        background-color: #c5c5c5;
        padding: 0;
        height: 10px;
        width: 10px;
        border: 1px solid #000;
        border-radius: 50%;
        margin-left: 3px;
      }

      .slick-active {
        button {
          background-color: #221f1f;
        }
      }
    }

    .sale-slider__wrapper.slick-slide.slick-current.slick-active,
    .sale-slider__wrapper.slick-slide {
      display: flex;
      align-items: center;
    }

  }
}
