.promo {
  padding: 25px 0 0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      color: #393939;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0 10px;
      font-weight: 400;
      max-width: 187px;
    }

    &-arrow {
      width: 40px;
    }

    &-arrow-l {
      transform: rotate(180deg);
    }
  }
}

.promo-slider {
  display: flex;
  margin-top: 32px;

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    max-width: 154px;
    filter: opacity(0.4);
    margin-left: 14px;

    &.slick-slide.slick-current.slick-active.slick-center {
      .promo-slider__details-sale-d-none {
        display: block;
      }
    }
  }

  &__bg-img {
    position: relative;
  }

  &__details-sale-d-none, &__details-name-d-none {
    display: none;
  }

  &__details-sale {
    position: absolute;
    top: 25px;
    left: 0;
    height: 25px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4f4f;
    transform: skew(30deg, -40deg);

    span {
      color: #fff;
    }
  }

  &__details-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#666666, 0.9);
    color: #fff;
    text-transform: uppercase;
  }

  &__price {
    font-weight: 600;
    &-old {
      font-weight: 400;
      color: #888;
      text-decoration: line-through;
    }
    &-new {
      color: #111;
    }
  }
}

.promo-slider__item.slick-slide.slick-current.slick-active.slick-center {
  filter: opacity(1);
}

.arrow {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;

  &-prev {
    background-image: url('../../images/tablet/chevron-r.png');
    transform: rotate(180deg);
    margin-right: 10px;
  }

  &-next {
    background-image: url('../../images/tablet/chevron-r.png');
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .promo {
    padding-top: 30px;

    &__title {
      &-text {
        max-width: 245px;
        font-size: 18px;
      }
    }
  }

  .promo-slider {
    align-items: center;
    padding: 0 10px;

    &__item {
      filter: opacity(1);

      &[aria-hidden=true] {
        filter: opacity(0.4);
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1233px;
  }

  .promo {
    &__title {
      transform: translate(-2px, 2px);

      &-text {
        max-width: 270px;
        font-size: 25px;
        margin: 0 15px;
      }

      &-arrow {
        width: 74px;
      }
    }
  }

  .promo-slider {
    margin: 30px auto;
    width: 1233px;
    justify-content: space-between;
    padding: 0;
    min-height: 360px;
    transform: translate(4px, -7px);

    &__item {
      max-width: 185px;
      // margin-left: 0;

      &[aria-hidden=true] {
        filter: opacity(1);
      }

      &:hover {
        .promo-slider__details-name-d-none {
          display: block;
        }
      }
    }

    &__price {
      &-old {
        color: #111;
        text-decoration: none;
        margin-top: 5px;
        font-family: 'Rajdhani-SemiBold';
        font-size: 15px;
        transform: translate(-2px, 2px);
      }
      &-new {
        display: none;
      }
    }

    .slick-slide img {
      width: 185px;
    }
  }

  .arrow {
    margin-bottom: 19px;
  }
}
