.quem-usa {
  padding: 30px 0 0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    &-arrow {
      &-l {
        transform: rotate(180deg);
      }
    }

    &-text {
      color: #393939;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0 15px;
    }
  }
}

.quem-usa-slider {
  display: flex;
  margin-top: 30px;

  &__item {
    max-width: 169px;
    margin-left: 15px;
    filter: opacity(0.4);

    &:hover {
      .quem-usa-slider__name {
        display: flex;
      }
    }
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__name {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.7);

    &-text {
      color: #fff;
      text-shadow: 1px 3px #000;
    }
  }
}

.quem-usa-slider__item.slick-slide.slick-current.slick-active.slick-center {
  filter: opacity(1);
}

@media (min-width: 768px) {
  .quem-usa {
    &__title {
      &-text {
        font-size: 18px;
      }
    }
  }

  .quem-usa-slider {
    &__item {
      filter: opacity(1);
    }
  }
}

@media (min-width: 1200px) {
  .quem-usa {
    padding-top: 55px;

    .container {
      max-width: 1233px;
      margin: 0 auto;
    }
  }

  .quem-usa-slider {
    justify-content: space-between;
    margin-top: 40px;

    &__item {
      max-width: 285px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      img {
        width: 285px;
      }
    }

    &__name {
      &-text {
        font-size: 24px;
      }
    }
  }
}
